body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Familia de fuentes */
    font-size: 30px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #5988FF; /* El color del fondo de la página web */
    color: #FD98FB; /* El color del texto*/ 
}
h1 {
    color: #ffffff; /* El color de la cabecera */
    font-size: 50px; /* El tamaño de la fuente de la cabecera */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* La familia tipográfica utilizada en la cabecera */
}
