body {
    font-family: 'Courier New', Courier, monospace; /* Familia de fuentes */
    font-size: 30px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #5988FF; /* El color del fondo de la página web */
    color: #ffffff; /* El color del texto*/ 
}
h1 {
    color: #FD98FB; /* El color de la cabecera */
    font-size: 50px; /* El tamaño de la fuente de la cabecera */
    font-family:'Courier New', Courier, monospace; /* La familia tipográfica utilizada en la cabecera */
}
