body {
    font-family: cursive; /* Familia de fuentes */
    font-size: 85px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #0033ff; /* El color del fondo de la página web */
    color: #ff0000; /* El color del texto*/ 
}
h1 {
    color: #ff7b00; /* El color de la cabecera */
    font-size: 70px; /* El tamaño de la fuente de la cabecera */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* La familia tipográfica utilizada en la cabecera */
}

@keyframes color-change {
    0% {
        background-color: rgb(18, 255, 53);
    }
  
    50% {
        background-color: rgb(238, 255, 0);
    }
  
    100% {
        background-color: rgb(255, 0, 200);
    }
}

body {
    animation: color-change 3s infinite;
}